body{
    font-family: Calibri, sans-serif, arial,x-locale-body;
    font-size: 18px;
    color: rgb(38, 39, 48);
    /*color: rgb(240, 240, 240);
    background-color: #222222;*/
    
}

h2{
    font-size: 36px;
}

.titulo{
    font-weight: normal;
    font-size: 28px;
    margin: 1px;
}

.container-interno{
    margin-bottom: 65px;
}

.container-iframe{
    width: 100%;
    aspect-ratio: 1825/1080;
    
}

#bloco-main{
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

#graph{
    width: 100%;
    height: 100%;
}


